<section>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card-stepper text-black" style="border-radius: 16px;">

                    <div class="card-body p-5">
                        <div class="text-center mb-6">
                            <h2 class="section-title justify-content-center"><span class="">CUSTOMIZE YOUR
                                    BOUQUET</span></h2>
                        </div>

                        <ul id="progressbar-2" class="d-flex justify-content-between mx-0 mt-0 mb-4 px-0 pt-0 pb-0">
                            <li class="step0 active text-center" id="step1"></li>
                            <li class="step0 text-center" id="step2"></li>
                            <li class="step0 text-center" id="step3"></li>
                            <li class="step0 text-center" id="step4"></li>
                            <li class="step0 text-muted text-end" id="step5"></li>
                        </ul>

                        <div class="d-flex justify-content-between mt-0 pt-0">
                            <div class="">
                                <p class="">FLOWER</p>
                            </div>
                            <div>
                                <p class="">SLEEVE</p>
                            </div>
                            <div>
                                <p class="ml"> TIE</p>
                            </div>
                            <div>
                                <p class="ml"> CARD</p>
                            </div>
                            <div>
                                <p class="">CONFIRM</p>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<app-order-customize-flowers></app-order-customize-flowers>