<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-6">
            <div class="side-img rounded-3" style="background-image: url('assets/img/sign-pic.jpg');">
                <div class="color-overlay d-flex justify-content-center align-items-center rounded-3">
                    <div class="text-overlay text-center">
                        <img src="assets/img/mema-logo.png" alt="" class="mb-5">
                        <h3 class="fw-bolder">Boboquet and bulaklak.</h3>
                        <p>The more effortless the writing looks, the more effort the writer actually put into the process.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 offset-1">
            <div class="container">
                <h4 class="fw-bolder">Sign Up</h4>
                <p>With</p>
                <div class="d-flex flex-row gap-2 mb-3">
                    <button class="btn btn-outline-secondary px-4"><i class="bi bi-facebook"></i></button>
                    <button class="btn btn-outline-secondary px-4"><i class="bi bi-google"></i></button>
                    <button class="btn btn-outline-secondary px-4"><i class="bi bi-apple"></i></button>
                </div>
                <p>or</p>
                <form>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email">
                    </div>
                    <div class="form-group my-3">
                        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Password">
                    </div>
                    <div class="form-check my-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">I agree with the <a routerLink="" class="text-decoration-none fw-semibold">Terms and Conditions</a>.</label>
                      </div>
                    <div class="d-grid">
                        <button routerLink="dashboard" type="submit" class="btn btn-primary fw-semibold shadow mb-3">Sign Up</button>
                    </div>
                </form>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                    <p class="mb-4 text-sm mx-auto">
                        Already have an account?
                        <a routerLink="admin" class="text-decoration-none fw-bold">Sign in</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
