 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">  
      <a routerLink="Dashboard" class="nav-link " >
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed"  href="#">
        <span>Sales</span>
      </a>
    </li><!-- End Tables Nav -->

    
    <li class="nav-item">
      <a class="nav-link collapsed"  href="#">
        <span>Purchases</span>
      </a>
    </li><!-- End Charts Nav -->

    <!--Inventory Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed"  href="#">

        <span>Inventory</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed"  href="#">
        <span>Website Management</span>
      </a>
    </li>

</ul>
</aside>


      