  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-bar-chart"></i>
          <span>Inventory</span>
        </a>
      </li><!-- End Dashboard Nav -->


      <li class="nav-item">
        <a class="nav-link " routerLink="sales">
          <i class="bi bi-layout-text-window-reverse"></i><span>Sales</span>
        </a>
      </li><!-- End Sales Nav -->

     
      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-gem"></i>
          <span>Purchases</span>
        </a>
      </li><!-- End Dashboard Nav -->

    </ul>

  </aside><!-- End Sidebar-->